table{
	width: 600px;
	margin: 50px auto;
	border-collapse: collapse;
}

td,th{
	border: 1px solid black;
	text-align: center;
}

tbody tr:nth-child(even){
	background-color: #e5e4e2;
}

tfoot{
	text-align: center;
	background-color: #b6b6b4;	
}

tbody td:first-child{
	text-align: left;
	white-space: nowrap;
	padding-right: 30px;
}

.caption{
	padding: 10px;
	background-color: #ccffff;
}